*

!README.md
!.gitignore
!LICENSE

!*/
!source_files/*/*.v
!source_files/*/*.xdc
!source_files/*/*.mem
!source_files/*/*.s
!source_files/*/*.sv
!source_files/*/*/*.v
!source_files/*/*/*.xdc
!source_files/*/*/*.mem
!source_files/*/*/*.s
!source_files/*/*/*.sv
